

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    overflow: hidden;
    
}

#three-canvas{
    display: block;
    margin: 0 auto;
    /*vertical-align: middle;*/
}
#2dcanvas{
    display: inline;
    vertical-align: middle;
    background: blue;
    top: 400px;
    width: 322px;
    height: 81px;
    z-index: 1;
}