

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    overflow: hidden;
    
}

#three-canvas{
    display: block;
    margin: 0 auto;
    /*vertical-align: middle;*/
}
#2dcanvas{
    display: block;
    background: transparent;
    
}